<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form name="form" (ngSubmit)="submit()" [formGroup]='Rform' >
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                         <input type="text" formControlName='fnameControl' class="form-control" name="firstName" />
                  <!--     <input [style.border-left]='Rform.controls["fnameControl"].errors?.required?"3px solid red":"3 px solid green"' [style.border-left]='Rform.controls["fnameControl"].errors?.required==undefined?"3px solid green":"3 px solid red"' type="text" formControlName='fnameControl' class="form-control" name="firstName" />
                  -->
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input [style.border-left]="Rform.controls.lnameControl?.hasError('required')?'3px solid red':'3px solid green'" type="text" formControlName='lnameControl' class="form-control" name="lastName" />
                        <p>{{Rform.get('lnameControl').value}}</p>
                        <div class='alert alert-danger' [hidden]='Rform.controls.lnameControl.pristine || Rform.controls.lnameControl.valid '>
                        <p>Invalid last name</p>
                      </div>  
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName='emailControl' class="form-control" name="email" />
                    </div>
                    <div formGroupName="address">
                        <div class="form-group">
                            <label for="lastName">City</label>
                            <input type="text" formControlName='city' class="form-control" name="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">State</label>
                            <input type="text" formControlName='state' class="form-control" name="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Pincode</label>
                            <input type="text" formControlName='pincode' class="form-control" name="lastName" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName='passwordControl' class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <button [disabled]="!Rform.valid"  class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
